/* .cardOpacity {
  opacity: 0.1;
  color: black;
  transition: opacity 0.4s ease-in-out, color 0.4s ease-in-out;
}

.cardOpacity:hover {
  opacity: 1;
  color: white;
}

.textos {
  color: black;
} */
