.navbar-gradiente {
  background: linear-gradient(
    to right,
    rgb(32, 41, 173),
    rgb(69, 191, 214)
  ) !important;
}
.navLinkCustom {
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navLinkCustom:hover {
  color: #ffd700; /* Exemplo: dourado */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
