html,
body,
.App {
  height: 100%;
  margin: 0;
}

.App {
  background-image: url("/BG-teste.png");
  background-size: cover; /* para cobrir toda a área */
  background-position: center;
}

/*
.error{
  color: red;
  font-size: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 0.5%;
} */
